.App {
  /* text-align: center; */
}

/* ul li{
  list-style: none;
} */

.directory-info {
  display: flex;
  align-items: center;
}

.directory-name {
  margin-left: 8px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.sublist {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.filename {
  list-style: none;
}
